@import 'src/styles/variables.scss';

.hero {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 0;
  z-index: -1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  z-index: 2;
  height: 100%;
}

.page {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  h1,
  p {
    color: $white;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;

    @media screen and (min-width: $xlarge) {
      font-size: 0.92vw;
      line-height: 1.5vw;
    }
  }
}
