@import 'src/styles/variables.scss';

.services {
  padding-top: 80px;
  padding-bottom: 160px;

  p:last-of-type {
    margin-bottom: 40px;
  }
}

.dark {
  * {
    color: $white;
    border-color: rgba(255, 255, 255, 0.6);
  }

  .wrapper {
    flex-direction: row;
  }
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  .text {
    width: 44%;
  }

  .image {
    width: 47%;
    margin-top: 30px;
  }
}
