@import './src/styles/variables.scss';

.nav {
  color: $black;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $medium) {
    display: flex;
  }

  li {
    padding: 0 1.3vw;

    a {
      scroll-behavior: smooth;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      display: inline-block;
      padding-bottom: 1px;
      overflow: hidden;

      @media screen and (min-width: $xlarge) {
        font-size: 1.05vw;
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        transition: transform 0.3s ease;
      }
      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        transform: translateX(-101%);
      }
      &:hover {
        &:before {
          transform: translateX(0);
        }
      }
    }
  }
}

.orange {
  color: $orange;
}

.white {
  color: $white;
}

.menu {
  cursor: pointer;
  height: 48px;
  position: relative;
  transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
  user-select: none;
  width: 48px;
  outline: none;
  transform: none;
  display: inline-block;

  @media screen and (min-width: $medium) {
    display: none;
  }

  span {
    background-color: $white;
    height: 2px;
    right: 0;
    position: absolute;
    width: 25px;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
    transform: none;
  }

  span:nth-of-type(1) {
    top: 15px;
  }

  span:nth-of-type(2) {
    top: 23px;
  }

  span:nth-of-type(3) {
    top: 31px;
  }
}

.open {
  span:nth-of-type(1) {
    transform: rotate(-45deg) translate(-5.5px, 5.5px);
  }

  span:nth-of-type(2) {
    opacity: 0;
  }

  span:nth-of-type(3) {
    transform: rotate(45deg) translate(-5.5px, -5.5px);
  }
}
