@import './src/styles/variables.scss';

.hero {
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
