@import './src/styles/variables.scss';

.hero {
  width: 100vw;
  min-height: 100vh;
  max-height: 115vh;
  overflow-y: hidden;
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 150px;

  @media screen and (min-width: $xxlarge) {
    padding-top: 200px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(100vh - 150px);

  @media screen and (min-width: $xxlarge) {
    min-height: calc(100vh - 200px);
  }

  section {
    position: relative;
    width: 47%;
  }
  section:nth-of-type(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 50px;
  }
}

.text {
  width: 72%;

  h1,
  p {
    color: $white;
  }

  h1 {
    margin-bottom: 30px;
    font-size: 5.7vw;
    line-height: 5.3vw;
  }

  p {
    font-weight: 300;
    font-size: 0.92vw;
    line-height: 1.5vw;
  }
}

.screen {
  margin-bottom: 40px;
}
