@import 'src/styles/global.scss';

.design {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f6eeea;
  padding: 20px 30px;

  * {
    color: #464744 !important;
    font-family: 'Quicksand', sans-serif;
  }

  *:hover {
    cursor: default;
    user-select: none;
  }
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: $large) {
    margin-bottom: 40px;
  }
}

.title {
  margin: 0 !important;
  font-weight: 600;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (min-width: $medium) and (max-width: $large) {
    display: none;
  }

  li {
    padding-left: 15px;

    span {
      font-size: 12px;
    }

    &:first-of-type {
      padding-left: 0;
    }
  }
}

.posts {
  width: 100%;
  position: relative;

  .post {
    position: absolute;
    margin-bottom: 20px;
    text-align: center;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-duration: 8s;

    @media screen and (min-width: $xlarge) {
      animation-duration: 15s;
    }

    p {
      margin: 15px 0 5px !important;
      font-size: 10px;
      font-weight: 600;
    }

    h4 {
      font-size: 13px;
      font-weight: 800;
      margin: 5px 0 8px !important;
    }

    .button {
      font-size: 10px;
      font-weight: 600;
    }
  }

  .post0 {
    top: 0;
    left: 0;

    @media screen and (min-width: $medium) and (max-width: $xlarge) {
      width: 100%;
    }

    @media screen and (max-width: $medium) {
      animation-name: post0ChangeMobile;
    }

    @media screen and (min-width: $xlarge) {
      animation-name: post0Change;
    }
  }
  .post1 {
    @media screen and (min-width: $medium) and (max-width: $xlarge) {
      width: 100%;
      top: 27vw;
    }

    @media screen and (max-width: $medium) {
      animation-name: post1ChangeMobile;
    }

    @media screen and (min-width: $xlarge) {
      animation-name: post1Change;
    }
  }
  .post2 {
    opacity: 0;

    @media screen and (max-width: $medium) {
      opacity: 1;
      animation-name: post2ChangeMobile;
    }

    @media screen and (min-width: $xlarge) {
      opacity: 1;
      animation-name: post2Change;
    }
  }
  .post3 {
    opacity: 0;

    @media screen and (max-width: $medium) {
      opacity: 1;
      animation-name: post3ChangeMobile;
    }

    @media screen and (min-width: $xlarge) {
      opacity: 1;
      animation-name: post3Change;
    }
  }
  .post4 {
    right: 0;
    opacity: 0;

    @media screen and (min-width: $xlarge) {
      opacity: 1;
      animation-name: post4Change;
    }
  }
  .post5 {
    right: 0;
    opacity: 0;

    @media screen and (min-width: $xlarge) {
      opacity: 1;
      animation-name: post5Change;
    }
  }
  .post6 {
    animation-name: post6ChangeMobile;
    opacity: 0;

    @media screen and (min-width: $xlarge) {
      opacity: 1;
      animation-name: post6Change;
    }
  }
}

@keyframes post0Change {
  0% {
    width: 48%;
  }
  5% {
    width: 100%;
  }
  25% {
    width: 100%;
  }
  30% {
    width: 48%;
  }
  50% {
    width: 48%;
  }
  55% {
    width: 32%;
  }
  75% {
    width: 32%;
  }
  80% {
    width: 48%;
  }
  to {
    width: 48%;
  }
}

@keyframes post1Change {
  0% {
    width: 48%;
    top: 0;
    right: 0;
  }
  5% {
    width: 100%;
    top: 380px;
    right: 0;
  }
  25% {
    width: 100%;
    top: 380px;
    right: 0;
  }
  30% {
    width: 48%;
    top: 0;
    right: 0;
  }
  50% {
    width: 48%;
    top: 0;
    right: 0;
  }
  55% {
    width: 32%;
    top: 0;
    right: 34%;
  }
  75% {
    width: 32%;
    top: 0;
    right: 34%;
  }
  80% {
    width: 48%;
    top: 0;
    right: 0;
  }
  to {
    width: 48%;
    top: 0;
    right: 0;
  }
}

@keyframes post2Change {
  0% {
    width: 48%;
    top: 230px;
    left: 0;
  }
  5% {
    width: 100%;
    top: 600px;
    left: 0;
  }
  25% {
    width: 100%;
    top: 600px;
    left: 0;
  }
  30% {
    width: 48%;
    top: 230px;
    left: 0;
  }
  50% {
    width: 48%;
    top: 230px;
    left: 0;
  }
  55% {
    width: 32%;
    top: 0;
    left: 68%;
  }
  75% {
    width: 32%;
    top: 0;
    left: 68%;
  }
  80% {
    width: 48%;
    top: 230px;
    left: 0;
  }
  to {
    width: 48%;
    top: 230px;
    left: 0;
  }
}

@keyframes post3Change {
  0% {
    width: 48%;
    top: 255px;
    right: 0;
  }
  5% {
    width: 100%;
    top: 800px;
    right: 0;
  }
  25% {
    width: 100%;
    top: 800px;
    right: 0;
  }
  30% {
    width: 48%;
    top: 255px;
    right: 0;
  }
  50% {
    width: 48%;
    top: 255px;
    right: 0;
  }
  55% {
    width: 32%;
    top: 220px;
    right: 68%;
  }
  75% {
    width: 32%;
    top: 220px;
    right: 68%;
  }
  80% {
    width: 48%;
    top: 255px;
    right: 0;
  }
  to {
    width: 48%;
    top: 255px;
    right: 0;
  }
}

@keyframes post4Change {
  0% {
    width: 48%;
    top: 600px;
  }
  5% {
    width: 100%;
    top: 1000px;
  }
  25% {
    width: 100%;
    top: 1000px;
  }
  30% {
    width: 48%;
    top: 600px;
  }
  50% {
    width: 48%;
    top: 600px;
  }
  55% {
    width: 32%;
    top: 335px;
  }
  75% {
    width: 32%;
    top: 335px;
  }
  80% {
    width: 48%;
    top: 600px;
  }
  to {
    width: 48%;
    top: 600px;
  }
}

@keyframes post5Change {
  0% {
    width: 48%;
    top: 1000px;
  }
  5% {
    width: 100%;
    top: 1000px;
  }
  25% {
    width: 100%;
    top: 1000px;
  }
  30% {
    width: 48%;
    top: 1000px;
  }
  50% {
    width: 48%;
    top: 1000px;
  }
  55% {
    width: 32%;
    top: 545px;
  }
  75% {
    width: 32%;
    top: 545px;
  }
  80% {
    width: 48%;
    top: 1000px;
  }
  to {
    width: 48%;
    top: 1000px;
  }
}

@keyframes post6Change {
  0% {
    width: 48%;
    top: 1000px;
    left: 0;
  }
  5% {
    width: 100%;
    top: 1000px;
    left: 0;
  }
  25% {
    width: 100%;
    top: 1000px;
    left: 0;
  }
  30% {
    width: 48%;
    top: 1000px;
    left: 0;
  }
  50% {
    width: 48%;
    top: 1000px;
    left: 0;
  }
  55% {
    width: 32%;
    top: 240px;
    left: 34%;
  }
  75% {
    width: 32%;
    top: 240px;
    left: 34%;
  }
  80% {
    width: 48%;
    top: 1000px;
    left: 0;
  }
  to {
    width: 48%;
    top: 1000px;
    left: 0;
  }
}

@keyframes post0ChangeMobile {
  0% {
    width: 48%;
  }
  5% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  60% {
    width: 48%;
  }
  to {
    width: 48%;
  }
}

@keyframes post1ChangeMobile {
  0% {
    width: 48%;
    top: 0;
    right: 0;
  }
  5% {
    width: 100%;
    top: 55vw;
    right: 0;
  }
  55% {
    width: 100%;
    top: 55vw;
    right: 0;
  }
  60% {
    width: 48%;
    top: 0;
    right: 0;
  }
  to {
    width: 48%;
    top: 0;
    right: 0;
  }
}

@keyframes post2ChangeMobile {
  0% {
    width: 48%;
    top: 36vw;
    left: 0;
  }
  5% {
    width: 100%;
    top: 100vw;
    left: 0;
  }
  55% {
    width: 100%;
    top: 100vw;
    left: 0;
  }
  60% {
    width: 48%;
    top: 36vw;
    left: 0;
  }
  to {
    width: 48%;
    top: 36vw;
    left: 0;
  }
}

@keyframes post3ChangeMobile {
  0% {
    width: 48%;
    top: 39.5vw;
    right: 0;
  }
  5% {
    width: 100%;
    top: 100vw;
    right: 0;
  }
  55% {
    width: 100%;
    top: 100vw;
    right: 0;
  }
  60% {
    width: 48%;
    top: 39.5vw;
    right: 0;
  }
  to {
    width: 48%;
    top: 39.5vw;
    right: 0;
  }
}
