@font-face {
  font-family: 'Ogg Roman';
  src: url('./fonts/Ogg-Roman.woff2') format('woff2'),
    url('./fonts/Ogg-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
