@import './variables.scss';

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

body {
  font-family: $sans;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}
h1 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;

  @media screen and (min-width: $medium) and (max-width: $large) {
    font-size: 44px;
    line-height: 36px;
  }

  @media screen and (min-width: $large) and (max-width: $xlarge) {
    font-size: 58px;
    line-height: 50px;
  }

  @media screen and (min-width: $xlarge) {
    font-size: 5.7vw;
    line-height: 5.3vw;
  }
}
h2 {
  font-size: 50px;
  margin-bottom: 30px;

  @media screen and (min-width: $medium) {
    font-size: 64px;
  }

  @media screen and (min-width: $large) {
    font-size: 4rem;
  }
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

p {
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 10px;
}

.headroom-wrapper {
  z-index: 999;
  position: relative;
}
.headroom--pinned {
  right: -5px !important;

  .header-wrap {
    background-color: $black;
    height: 80px;
  }
}
