@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bon Vivant Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../utils/fonts/BonVivantSerif.woff2') format("woff2"),
    url('../utils/fonts/BonVivantSerif.woff') format("woff")
}
@font-face {
    font-family: 'Bon Vivant Serif';
    font-weight: 600;
    font-style: bold;
    src: url('../utils/fonts/BonVivantSerif-Bold.woff2') format("woff2"),
    url('../utils/fonts/BonVivantSerif-Bold.woff') format("woff")
}

.serif {
    font-family: 'Bon Vivant Serif', serif;
}
.sans-serif {
    font-family: 'Source Sans Pro', sans-serif;
}
.playfair {
    font-family: 'Playfair Display', serif;
}
em {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 { font-size: 2em; margin: .67em 0 }
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }

@media screen and (min-width: 768px) {
    .drawer-open {
        height: 100vh;
        overflow-y: hidden;
    }
}
