@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bon Vivant Serif';
    font-weight: 400;
    font-style: normal;
    src: url('../utils/fonts/BonVivantSerif.woff2') format("woff2"),
    url('../utils/fonts/BonVivantSerif.woff') format("woff")
}
@font-face {
    font-family: 'Bon Vivant Serif';
    font-weight: 600;
    font-style: bold;
    src: url('../utils/fonts/BonVivantSerif-Bold.woff2') format("woff2"),
    url('../utils/fonts/BonVivantSerif-Bold.woff') format("woff")
}

.serif {
    font-family: 'Bon Vivant Serif', serif;
}
.sans-serif {
    font-family: 'Source Sans Pro', sans-serif;
}

.drawer-open {
    height: 100vh;
    overflow-y: hidden;
}
