// Typography
$serif: 'Ogg Roman', serif;
$sans: 'Roboto', sans-serif;

// Colors
$orange: #ce7b36;
$brown: #9c5b24;
$slate: #a28c81;
$grey: #615e5a;
$text: #2f2f2f;
$black: #2f2f2f;
$white: #fff;

// Sizes
$xxlarge: 1600px;
$xlarge: 1280px;
$large: 1024px;
$medium: 768px;
$small: 480px;
