@import './src/styles/variables.scss';

.logo {
  color: $black;
  font-size: 32px;
  font-family: $serif;

  @media screen and (min-width: $xlarge) {
    font-size: 2.1vw;
  }
}

.orange {
  color: $orange;
}

.white {
  color: $white;
}
