.links {
    li {
        width: 100%;
        display: block;
        transition: opacity ease-in 1s;
        margin-bottom: 0;
    }
    &:hover {
        li {
            a {
                opacity: 0.4;
                transition: opacity ease 0.3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}