@import 'src/styles/colors';

.medium {
    padding: 0.6rem 1.5rem;
    font-size: 15px;
    font-weight: 500;
}
.large {
    padding: 0.8rem;
}

.open {
    background-color: $dark;
    color: white;
}
