@import 'src/styles/variables';

.button {
  color: $black;
  font-weight: 600;
  font-size: 0.92vw;
  white-space: nowrap;
  text-transform: uppercase;
}

.orange {
  color: $orange;
}

.white {
  color: $white;
}

.line {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.75);
}
