@import 'src/styles/variables';

.button {
  color: $black;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-transform: uppercase;

  @media screen and (min-width: $xlarge) {
    font-size: 0.92vw;
  }

  &:hover {
    .arrow {
      margin-left: 30px;
    }
  }
}

.orange {
  color: $orange !important;
}

.white {
  color: $white !important;
}

.line {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.75);
}

.arrow {
  width: 95px;
  display: inline-block;
  margin-left: 18px;
  margin-top: -10px;
  transition: all 0.3s ease;

  path {
    stroke: $black;
  }
}

.fillOrange {
  stroke: $orange !important;
}

.fillWhite {
  stroke: $white !important;
}
