@import 'src/styles/variables';

.header {
  width: 100%;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transition: all 0.1s ease;

  @media screen and (min-width: $medium) {
    height: 120px;
  }
}

.fixed {
  [class~='headroom'] {
    position: fixed !important;
    transform: none !important;
  }
}

.headerFixed {
  position: fixed;
}

.button {
  display: none;

  @media screen and (min-width: $medium) {
    display: inline-block;
  }
}
