@import 'src/styles/variables.scss';

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  overflow: hidden;
  margin-top: 5px;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.6);
}

.tab {
  width: 100%;
  overflow: hidden;

  label {
    display: block;
    width: 100%;
    border-top: 0.4px solid rgba(255, 255, 255, 0.6);
    font-family: $serif;
    text-transform: uppercase;
    padding: 22px 140px 22px 0;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: $medium) {
      padding: 22px 30px 22px 0;
    }

    &:after {
      content: '+';
      position: absolute;
      top: 25px;
      right: 0;
      text-align: center;
      font-family: $sans;
      font-size: 26px;
      line-height: 32px;
      font-weight: 300;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      transition: all ease 0.35s;

      @media screen and (min-width: $medium) {
        top: 17px;
        font-size: 20px;
        line-height: 26px;
        width: 28px;
        height: 28px;
        border-radius: 28px;
        border: 1px solid rgba(255, 255, 255, 0.6);
      }
    }
  }

  &-content {
    max-height: 0;
    transition: all ease 0.35s;

    p {
      margin-bottom: 20px;
    }
  }
}

input:checked {
  + .tab-label {
    &:after {
      transform: rotate(45deg);
    }
  }

  ~ .tab-content {
    max-height: 100vh;
  }
}
