@import 'src/styles/variables.scss';

$font: 'Prata', serif;
$background: #f6f6f6;

.websites {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: relative;
  background-color: $background;

  * {
    color: #454545 !important;
    font-family: $font;
  }

  *:hover {
    cursor: default;
    user-select: none;
  }
}

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 580px) {
    height: 40%;
  }

  @media screen and (min-width: 580px) and (max-width: $medium) {
    height: 30%;
  }

  @media screen and (min-width: $medium) and (max-width: $large) {
    height: 50%;
  }

  @media screen and (min-width: $large) {
    height: 40%;
  }
}

.nav {
  position: absolute;
  z-index: 9;
  top: 0;
  width: 100%;
  height: 37px;
  left: 0;
  padding: 0 13px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $xlarge) {
    width: 7.5%;
    height: 92%;
    top: 4%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }

  .menu {
    position: relative;
    display: flex;
    width: 11px;
    height: 11px;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (min-width: $xlarge) {
      position: absolute;
      top: 10px;
    }

    span {
      width: 100%;
      height: 2px;
      background-color: #454545;
    }
  }

  .logo {
    font-size: 11px;

    @media screen and (min-width: $xlarge) {
      transform: rotate(-90deg);
      text-align: center;
      min-width: 200px;
    }
  }
}

.content {
  position: absolute;
  z-index: 1;
  top: 37px;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $xlarge) {
    top: -1px;
    width: 87%;
    height: 100%;
    flex-direction: row;
  }

  .heroText {
    width: 80%;
    margin-top: 20px;
    text-align: center;

    @media screen and (min-width: $xlarge) {
      text-align: left;
      margin-top: 0;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-duration: 10s;
      animation-name: heroTextChange;
    }

    p {
      margin: 0 0 20px !important;
      font-size: 11px;
    }

    button {
      background-color: #474747;
      color: white !important;
      font-size: 7px;
      padding: 6px 18px;
      letter-spacing: 0.4px;
      border: 0;
      outline: 0;
    }
  }

  .heroImg {
    height: 100%;
    display: none;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: $xlarge) {
      display: inline-block;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      animation-duration: 10s;
      animation-name: imageSizeChange;
    }
  }
}

.images {
  width: 100%;
  position: relative;

  @media screen and (min-width: $xlarge) {
    margin-top: 20px;
  }

  .imageWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: $background;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-duration: 10s;
    animation-name: opacityChange;
  }

  .image {
    margin-bottom: 10px;
  }
  .image:nth-of-type(odd) {
    width: 34%;
    max-height: 300px;
  }
  .image:nth-of-type(even) {
    width: 54%;
    max-height: 500px;
  }
}

.hiddenContent {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-duration: 10s;
  animation-name: hiddenContentChange;

  .projectTitle {
    font-size: 14px;
    font-family: $font;
    margin: 0;
    text-align: center;
  }

  .contentImages {
    width: 100%;
    column-count: 2;
    column-gap: 10px;

    .contentImage {
      grid-row: 1 / -1;
      grid-column: 1;
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 10px;
      break-inside: avoid;
    }
  }
}

@keyframes opacityChange {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroTextChange {
  0% {
    opacity: 1;
    width: 38%;
  }
  40% {
    opacity: 1;
    width: 38%;
  }
  45% {
    opacity: 0;
    width: 38%;
  }
  50% {
    opacity: 0;
    width: 0;
  }
  95% {
    opacity: 0;
    width: 0;
  }
  98% {
    opacity: 0;
    width: 38%;
  }
  100% {
    opacity: 1;
    width: 38%;
  }
}

@keyframes imageSizeChange {
  0% {
    width: 54%;
  }
  45% {
    width: 54%;
  }
  55% {
    width: 100%;
  }
  92% {
    width: 100%;
  }
  100% {
    width: 54%;
  }
}

@keyframes hiddenContentChange {
  0% {
    top: 100px;
    opacity: 0;
  }
  40% {
    top: 100px;
    opacity: 0;
  }
  55% {
    top: 0;
    opacity: 1;
  }
  92% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 100px;
    opacity: 0;
  }
}
